FashionBattle_Template/Temp
FashionBattle_Template/Library
FashionBattle_Template/obj
FashionBattle_Template/Logs
FashionBattle_Template/Build
FashionBattle_Template/UserSettings
FashionBattle_Template/.vs
FashionBattle_Template/.vscode
FashionBattle_Template/node_modules
